/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

table#grid, table#grid th, table#grid td{
	border: 1px solid #D4E0EE;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

table#grid thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 11px !important;
        width: 300px;
	border-bottom-style: outset;
	border-right-style: outset;
}

table#grid tbody tr { background: #FCFDFE; }

table#grid tbody tr.odd { background: #F7F9FC; }

/**/

table#grid
{
	float: left;
	/*border-collapse: collapse;*/
	font-size: 9px;
	display: table;
}

table#grid td
{
	border-color: #E6F3F7;
	display: table-cell;
        text-align: center;
}

table#grid td#horas
{
	display: table-cell;
	width: 11%;
	margin: 0 auto 0 auto;
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	border-color: #D4E0EE;
	font-size: 10px;
	padding:0px;
	border-bottom-style:outset;
	border-right-style:outset;
}

table#grid td.inicial
{
	-moz-opacity: 0.3;
	background:#4F76A3;
}

table#grid td.unselected
{
	-moz-opacity: 0.2;
	text-align:center;
	font-weight:normal;
}

table#grid td.unselected:hover
{
	-moz-opacity: 0.6;
	font-weight:bolder;
	background-color:lightblue;
	cursor:pointer;
}

table#grid td.selected
{
	-moz-opacity: 1;
	background:#D4D1EF;
	color:#4F76A3;
	font-weight:bold;
	border-style:inset;
}

/*td.materia1{-moz-opacity:0.6;background:lightblue;}
td.materia2{-moz-opacity:0.6;background:magenta;}
td.materia3{-moz-opacity:0.6;background:yellow;}
td.materia4{-moz-opacity:0.9;background:lightyellow;}
td.materia5{-moz-opacity:0.6;background:cyan;}
td.materia6{-moz-opacity:0.6;background:green;}
td.materia7{-moz-opacity:0.8;background:lightgreen;}
td.materia8{-moz-opacity:0.6;background:red;}*/

td.materia1{background:#FFF79F;}
td.materia2{background:#EFAC95;}
td.materia3{background:#77EFCB;}
td.materia4{background:#EEDFFF;}
td.materia5{background:#926BBF;}
td.materia6{background:#59EFEC;}
td.materia7{background:#5FE4FF;}
td.materia8{background:#59EF89;}
td.materia9{background:#19CF54}
td.materia10{background:#FDDFFF;}
td.materia11{background:#EFA468;}
td.materia12{background:#6FA2DF;}

td.materia1, 
td.materia2, 
td.materia3, 
td.materia4, 
td.materia5, 
td.materia6, 
td.materia7, 
td.materia8,
td.materia9,
td.materia10,
td.materia11,
td.materia12
{
	font-weight:bolder;
	max-width:11%;
	color:#000000;
}

td.materia1:hover, 
td.materia2:hover, 
td.materia3:hover, 
td.materia4:hover, 
td.materia5:hover, 
td.materia6:hover, 
td.materia7:hover, 
td.materia8:hover,
td.materia9:hover,
td.materia10:hover,
td.materia11:hover,
td.materia12:hover{cursor:pointer;}

table#grid td#horas:hover
{
	cursor:default;
}

