div#content{
    left: 247px;
    padding: 0;
    width: auto; 
    margin: 0px;
}

div#content fieldset legend{
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-color: silver;
}

div#content fieldset div{
    padding-top: 8px;
}

div#content fieldset button#grabarHorario{
    position: relative;
    bottom: 7px;
    right: -196px;
    background: #C2D8EF;
}

div#content fieldset button#descargarHorario{
    position: relative;
    bottom: 7px;
    right: -176px;
    background: #C2D8EF;
}

div#content fieldset label{
    font-size: 12px;
    font-weight: bold;
}
fieldset
{
    width: 450px;
    height: 120px; /*17-09-07*/
    background-color: #E6EDF5;
    border: 1px solid;
    border-color: silver;
}

select#aulas{margin-left: 32px;}
select#materias{margin-left: 19px;}
select#profesores{margin-left: 3px;}
select#paralelos{margin-left: 10px;}

div#contenedorResumen{ /*17-09-07*/
    /*float: left;*/
    width: 215px;
    padding-left: 2px;
    position: absolute;
    left: 471.6px;
    top: 51px;
}

div.resumenParalelo{
    width: 216px;
    background-color: #E6EDF5;
    border-color: silver;
    overflow: hidden;
    -moz-border-radius-topright: 15px; 
    -moz-border-radius-bottomright: 15px; 
}

div.resumenParalelo p{
    margin: 2px 0pt;
}

div.resumenParalelo a{
    text-decoration: none;
    position: absolute;
    bottom: 8px;
    right: 15px;
    cursor: pointer;
}

label.titulo{
    margin-left: 6px;
    font-size: 13px;
    font-weight: bolder;
}
label#r_dia       {margin-left: 55px; font-size: 11px; text-decoration: underline;}
label#r_horainicio{margin-left: 12px; font-size: 12px;}
label#r_horafin   {margin-left: 27px; font-size: 12px;}
label#r_calif     {margin-left: 66px;}

button#agregarParalelo{
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    background-color: #E6EDF5;
    position: relative; 
    height: 25px;
    top: -30px; 
    left: 70px;
}

table#grid{width: 100%; /*border-collapse: collapse;*/}
table#grid thead {/*display: table-row;*/}
table#grid thead th{/*display: table-cell;*/}
table#grid tbody tr{display: table-row;}
a#agregarParalelo{
    font-size: 12px;
}



button.ingreso{
    background: #C2D8EF none repeat scroll 0%;
    bottom: 3px;
    position: relative;
    right: -411px;
}


div.TabbedPanelsContentGroup label{
    font-size: 12px;
    font-weight: bold;
    margin: 0px 30px 0px 10px;
}

div.TabbedPanelsContentGroup input{
    font-size: 12px;
}


form#cargador input#archivo{
    
}

form#cargador button#botonCargar{
    background: #D1D8DF none repeat scroll 0%;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: small;
}



