/* 
    Document   : scheduler
    Created on : 07/10/2008, 11:35:38 PM
    Author     : xallan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#grid{
    width: 700px;  
}

table#grid td.title {
    border-bottom-style:outset;
    border-color:#D4E0EE;
    border-right-style:outset;
    background-color: #E6EDF5;
    font-size: 11px; 
    font-weight: bolder;
}

a#mensaje {
    color: red; 
    font-size: 9pt; 
    font-weight: bold; 
    padding: 31px 0 0 14px; 
    font-style: italic; 
    text-align:center; 
    background: transparent;
}

div.hiddencredits,
a.hiddencredits{
    display:none;
}

div#containermensaje{
    width: 100%;
}

div#contactus{
    width: 100%;
    position: relative;
    top: 350px;
    text-align: center;
}

div#contactus a {
    text-decoration: none;
    color: #276F9F;
    font-family: "Trebuchet MS",Helvetica, sans-serif;
    font-size: 15px;
}
